<div class="card">
  <div class="card-content">
    <% if @employees.size > 0 %>
    <h4>Listing employees</h4>
    <div class="row ">
      <div class="right">
        <%= link_to "+ Add new employee ", new_employee_path %>
      </div>
    </div>
    <%= render "employees_list",employees:@employees %>
    <% else %>
    <%= render "/partials/no_data",path: new_employee_path, section_name: "Employees list" %>
    <% end %>
  </div>
</div>