<div class="center">
	<h4><%= section_name||="List" %></h4>
	<p class="flow-text">In this moment there are no results to show </p>
	<br>
	<%= link_to "Create a new record", path , class: "btn"  %>
</div>